// Define variables for your color scheme

// For example:
$red: $color-danger;
$blue: $color-primary;
$yellow: $color-info;
$orange: $color-warning;
$green: $color-success;
$gray: $color-text;
$light-gray: $color-background-muted;
