// The following code is to unify the corporate identity of our service. Listed here are predefined colours and typo-types!

// Typography
$body-font: "Atkinson Hyperlegible Next", sans-serif;
$headers-font: "Atkinson Hyperlegible Next", sans-serif;

// Colors
$color-background: #ffffff;
$color-surface: #ffffff;

$color-text: #1f1f1f;
$color-text-muted: #6b6b6b;

$color-border: #e5e5e5;

$color-primary: #1f1f1f;
$color-primary-hover: #333333;

// Radius
$radius-sm: .5rem;
$radius-md: .75rem;
$radius-lg: 1rem;

// Shadows
$shadow-card: 0 2px 6px rgba(0,0,0,.08);
