<aside class="app-sidebar">
  <nav class="sidebar-nav" aria-label="Primary navigation">
    <%= link_to dashboard_path, class: "sidebar-nav__link #{'is-active' if controller_name == 'dashboard'}" do %>
      <i class="fa-regular fa-compass" aria-hidden="true"></i>
      <span>Dashboard</span>
    <% end %>

    <%= link_to new_loop_path, class: "sidebar-nav__link #{'is-active' if controller_name == 'loops' && action_name.in?(%w[new create edit update])}" do %>
      <i class="fa-solid fa-plus" aria-hidden="true"></i>
      <span>Create</span>
    <% end %>

    <%= link_to deploy_path, class: "sidebar-nav__link #{'is-active' if controller_name == 'deploy'}" do %>
      <i class="fa-regular fa-paper-plane" aria-hidden="true"></i>
      <span>Launch</span>
    <% end %>

    <%= link_to analyze_index_path, class: "sidebar-nav__link #{'is-active' if controller_name == 'analyze'}" do %>
      <i class="fa-solid fa-chart-simple" aria-hidden="true"></i>
      <span>Analyze</span>
    <% end %>
  </nav>
</aside>
