.avatar {
  width: 40px;
  border-radius: $radius-circle;
}
.avatar-large {
  width: 56px;
  border-radius: $radius-circle;
}
.avatar-bordered {
  width: 40px;
  border-radius: $radius-circle;
  box-shadow: $shadow-sm;
  border: 1px solid var(--color-on-primary);
}
.avatar-square {
  width: 40px;
  border-radius: $radius-none;
  box-shadow: $shadow-sm;
  border: 1px solid var(--color-on-primary);
}
