<p>Hello <%= @resource.email %>!</p>

<p>Someone has requested a link to change your password. You can do this through the link below.</p>

<%= render "mailer/button", text: "Change my password", url: edit_password_url(@resource, reset_password_token: @token) %>

<p>This link is valid for 15 minutes. After that, you'll need to request a new one.</p>

<p>If you didn't request this, please ignore this email.</p>
<p>Your password won't change until you access the link above and create a new one.</p>
